<%= form_for @song do |f| %>

<ul>
  <% @song.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit (@song.new_record? ? "Create" : "Update") %>

<% end %>

<%= f.label :artist_id %>
<%= f.collection_select(:artist_id, artist.all, :id, :name) %>

<% end %>
